*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --black: #000;
    --white: #FFF;
    --colorDeFondo: #3CB371;
    --colorDeFondoLight: #90EE90;
    --sm: 0.5em;
    --md: 1em;
    --lg: 2em;
    --xl: 3em;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
}

header{
    background-color: var(--colorDeFondo);
    height: 4em;
    display: flex;
    flex-direction: row;
    border-bottom: var(--white) dotted 1px;
}

footer{
    background-color: var(--colorDeFondo);
    height: 3.5em;
    border-top: var(--white) dotted 1px;
    text-align: center;
}

footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

footer ul li{
    margin: 1em;
}

footer a{
    text-decoration: none;
    color: var(--white);
}

footer a:hover{
    color: var(--colorDeFondoLight);
}

.logo-texto{
    font-size: var(--xl);
    color: var(--white);
    margin-top: auto;
    margin-bottom: auto;
}

.navbar{
    margin: auto;
}

.navbar ul{   
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: var(--md);
}

.navbar ul li{
    margin-right: 2.5em;
}

.navbar a {
    text-decoration: none;
    color: var(--white);
}

.navbar a:hover{
    color: var(--colorDeFondoLight);
}

.seccion-inicio {
    background-color: var(--colorDeFondo);
    display: flex;
    flex-direction: row;
    padding: 3em;
}

.seccion-inicio img{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
}

.presentacion{
    margin: 3.5em;
}

.presentacion1{
    color: var(--white);
    margin-bottom: 1.5em;
    font-style: italic;
}

.presentacion2{
    color: var(--white);
    margin-bottom: 1em;
    font-size: var(--xl);
    font-style: italic;
}

.presentacion3{
    color: var(--white);
    font-style: italic;
}

.seccion-portfolio{
    text-align: center;
    background-color: var(--white);
    padding: 2em;
}

.titulo-seccion{
    color: var(--black);
    margin-bottom: 1em;
}

.seccion-portfolio ul{
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    list-style: none;
    justify-content: center;
}

.proyecto{
    border: 1px solid;
    border-radius: 10px;
    height: 22em;
    width: 18em;
    overflow: hidden;
    border-color: var(--colorDeFondoLight);
}

.proyecto img{
    height: 18em;
    width: 18em;
}

.proyecto-info{
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
    justify-content: center;
}

.proyecto-info a{
    text-decoration: none;
    color: var(--black);
}

.seccion-acercademi{
    text-align: center;
    background-color: var(--white);
    padding: 2em;
}

.acercademi-container{
    display:flex;
    flex-direction: row;
    column-gap: 1.5em;
}

.acercademi-container img{
    height: 28vw;
    width: 33vw;
    border-radius: 10px;
}

.acercademi-info p:nth-child(2) {
    text-align: justify;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
}

.acercademi-skillname{
    margin-top: 0.5em;
    text-align: justify;
}

.progress {
    background: var(--colorDeFondoLight);
    border-radius: 100px;
    align-items: center;
    padding: 0 5px;
    display: flex;
    height: 20px;
    width: 70%;
  }

  .progress-html {
    animation: load-html 3s normal forwards;
    border-radius: 100px;
    background: var(--white);
    height: 13px;
    width: 0;
  }
  
  @keyframes load-html {
    0% { width: 0; }
    100% { width: 80%; }
  }

  .progress-css {
    animation: load-css 3s normal forwards;
    border-radius: 100px;
    background: var(--white);
    height: 13px;
    width: 0;
  }
  
  @keyframes load-css {
    0% { width: 0; }
    100% { width: 65%; }
  }

  .progress-javascript {
    animation: load-javascript 3s normal forwards;
    border-radius: 100px;
    background: var(--white);
    height: 13px;
    width: 0;
  }
  
  @keyframes load-javascript {
    0% { width: 0; }
    100% { width: 60%; }
  }

  .progress-nodejs {
    animation: load-nodejs 3s normal forwards;
    border-radius: 100px;
    background: var(--white);
    height: 13px;
    width: 0;
  }
  
  @keyframes load-nodejs {
    0% { width: 0; }
    100% { width: 70%; }
  }

  .progress-reactjs {
    animation: load-reactjs 3s normal forwards;
    border-radius: 100px;
    background: var(--white);
    height: 13px;
    width: 0;
  }
  
  @keyframes load-reactjs {
    0% { width: 0; }
    100% { width: 40%; }
  }

.seccion-contacto{
    text-align: center;
    background-color: var(--white);
    padding: 2em;
}

.contacto-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 0.3em;
}

.contacto-field{
    border: 1px solid var(--colorDeFondoLight);
    border-radius: 10px;
    padding: 10px;
}

.contacto-nombre{
    width: 30em;
}

.contacto-email{
    width: 30em;
}

.contacto-asunto{
    width: 60em;
}

.contacto-mensaje{
    width: 60em;
    height: 15em;
}

.contacto-button{
    background-color: var(--white);
    width: 5em;
}

.alert-box {
	width: 50em;
    height: 2em;
    padding: 0.5em;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 5px;  
}

.validation {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}